.container app-post:first-child {
    display: block;
    border-top: 2px solid black;
}

h1 {
    text-align: center;
    margin: 50px;
    
}

nav {
    width: 100%;
    text-align: center;
    margin: 30px auto;

    button {
        width: 75%;
        background-color: orangered;
        font-weight: bold;
        font-size: 200%;
        border-radius: 10px;
    }
}