
<div>
    <h1>Blog de práctica Angular</h1>
</div>

<div class="my-4">
    <label class="form-label">Filtro</label>
    <select class="form-select">
        <option value="">Todos</option>
        @for(cat of arrCategorias; track cat) {
            <option>{{cat}}</option>
        }
    </select>
</div>

<div class="container">
    @for(post of arrPosts; track post.id) {
        <app-post [post]="post"></app-post>
        
    }
</div>

<nav>
    <button [routerLink]="['/nuevo']">CREA UN POST</button>
</nav>