.col-10 {
    background-color: aquamarine;
    height: 100vh;

    form {
        margin-top: 30px;

        div {
            padding: 5px;
            border-top: 3px solid red;
            border-left: 3px solid red;
            border-right: 3px solid black;
            border-bottom: 3px solid black;
            box-shadow: 3px 3px 3px 2px;
            background-color: lightgrey;
            border-radius: 20px;

            label {
                font-weight: bold;
            }

            input, select, textarea {
                border: 5px solid cyan;
                border-radius: 10px;
            }

            textarea {
                height: 250px;
            }
        }

        .btn {
            border-top: 3px solid red;
            border-left: 3px solid red;
            border-right: 3px solid black;
            border-bottom: 3px solid black;
            font-weight: bold;
            width: 100%;
        }
    }
    
}