@if(post) {
<div class="list-card">
    <div>
        <h2>{{post.titulo}}</h2>
    </div>
    <figure>
        <img [src]="post.imagen" alt="">
    </figure>
    <div class="bloke2">
        <div>
            <p>{{post.texto}}</p>
        </div>
        <div>
            <p>Autor: <strong>{{post.autor}}</strong></p>
            <p>Categoría: <strong>{{post.categoria}}</strong></p>
            <time datetime="2024-11-16">Fecha: <strong>{{post.fecha}}</strong></time>
            <button class="btn btn-danger" [routerLink]="['/posts']">VOLVER</button>
        </div>
    </div>
</div>
}